.color-red{
	color: red;
}

h1{
	color: darkcyan;
}

[atributo="color-blue"]{
	color: blueviolet;
}

#color-green{
	color: green;
}

h1{
	color: darkcyan !important
}

.contact-form__input--active{
	color: darkcyan
}
